<% @page_title = "Detail provozního" %>
<div class="User">
  <div class="page-header">
    <h1>Detail uživatele <%= link_to "Editovat", {:action => 'edit', :id => @user.id}, :class => "btn btn-default" %>
  <%= link_to "Smazat", {:action => 'delete', :id => @user.id}, data: { confirm: "Opravdu smazat uživatele?" }, :class => "btn btn-danger" %></h1>
  </div>
  <address>
    <strong><%= @user.username %> - <%= @user.name %></strong><br>
    <a href="mailto:#"><%= @user.email %></a><br>
    <%= @user.address %><br>
    <%= @user.city %><br>
    <abbr title="Telefon">Tel:</abbr> <%= @user.phone %>
</address>

  
  <div class="page-header">
    <h3>Provozovny <%= link_to "Přidat provozovnu", branchs_new_path, :class => "btn btn-default" %></h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Název</th>
          <th>Adresa</th>
          <th>Město</th>
          <th>Akce</th>
        </tr>
      </thead>
      <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.address %></td>
          <td><%= branch.city %></td>
          <td><%= link_to "Zobrazit", {:controller => 'branchs', :action => 'show', :id => branch.id}, :class => "btn btn-default" %>
              <%= link_to "Upravit", {:controller => 'branchs', :action => 'edit', :id => branch.id}, :class => "btn btn-default" %>
              <%= link_to "Smazat", {:controller => 'branchs', :action => 'delete', :id => branch.id}, :class => "btn btn-danger", data: { confirm: "Opravdu?" } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>