<% @page_title = "Nová provozovna" %>
<div class="branches_form">
  <div class="page-header">
    <h1>Nová provozovna</h1>
  </div>
  <div class="span4">
    <%= form_for(:branch, :url => {:controller => 'branchs', :action => 'create'}) do |f| %>
      <div class="form-group">
        <label for="nameInput">Název:</label>
        <%= f.text_field :name, :class => "form-control", :placeholder => "Provozovna 1", :type => "text" %> 
        <span class="label label-warning">Povinný údaj</span>
      </div>
      <div class="form-group">
        <label for="nameInput">Adresa:</label>
        <%= f.text_field :address, :class => "form-control", :placeholder => "Příčná 123", :type => "text" %> 
        <span class="label label-warning">Povinný údaj</span>
      </div>
      <div class="form-group">
        <label for="nameInput">Město:</label>
        <%= f.text_field :city, :class => "form-control", :placeholder => "Montreal", :type => "text" %> 
        <span class="label label-warning">Povinný údaj</span>
      </div>
      <%= f.submit :Přidat, :class => "btn btn-success" %>
    <% end %>
  </div>
  <% if @branch.errors.any? %>
    <ul class="Add_Errors">
    <% for message_error in @branch.errors.full_messages %>
      <li><%= flash_messages %></li>
    <% end %>
    </ul>
  <% end %>
</div>