<% @page_title = "Provozovna" %>
<div class="Branch">
  <div class="page-header">
    <h1>Detail provozovny <%= link_to "Editovat", {:action => 'edit', :id => @branch.id}, :class => "btn btn-default" %>
  <%= link_to "Smazat", {:action => 'delete', :id => @branch.id}, data: { confirm: "Opravdu smazat provozovnu?" }, :class => "btn btn-danger" %></h1>
  </div>
  <address>
    <strong><%= @branch.name %></strong><br>
    <%= @branch.address %><br>
    <%= @branch.city %><br>
  </address>

  <div class="page-header">
    <h3>Stroje <%= link_to "Přidat", {:controller => 'machines', :action => 'new', :branch_id => @branch.id}, :class => "btn btn-success" %></h3>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Název</th>
        <th>Kategorie</th>
        <th>Akce</th>
      </tr>
    </thead>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.name %></td>
        <td><%= machine.category %></td>
        <td><%= link_to "Zobrazit", {:controller => 'machines',:action => 'show', :id => machine.id}, :class => 'btn btn-default' %>
            <%= link_to "Upravit", {:controller => 'machine',:action => 'edit', :id => machine.id}, :class => 'btn btn-default' %>
      </tr>
    <% end %>
  </table>


  <div class="page-header">
    <h3>Provozní</h3>
  </div>

  <div class="page-header">
    <h4>Přiřazení provozní</h4>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>Uživatelské jméno</th>
        <th>Email</th>
        <th>Město</th>
        <th>Akce</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= link_to "Zobrazit", {:controller => 'users',:action => 'show', :id => user.id}, :class => 'btn btn-default' %>
            <%= link_to "Upravit", {:controller => 'users',:action => 'edit', :id => user.id}, :class => 'btn btn-default' %>
            <%= link_to "Odebrat", {:controller => 'branchs',:action => 'removeUser', :id => @branch.id, :user_id => user.id}, :class => 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </table>

  <div class="page-header">
    <h4>Nepřiřazení provozní</h4>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>Uživatelské jméno</th>
        <th>Email</th>
        <th>Město</th>
        <th>Akce</th>
      </tr>
    </thead>
    <% @others.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= link_to "Zobrazit", {:controller => 'users',:action => 'show', :id => user.id}, :class => 'btn btn-default' %>
            <%= link_to "Upravit", {:controller => 'users',:action => 'edit', :id => user.id}, :class => 'btn btn-default' %>
            <%= link_to "Přidat", {:controller => 'branchs',:action => 'addUser', :id => @branch.id, :user_id => user.id}, :class => 'btn btn-success' %></td>
      </tr>
    <% end %>
  </table>
</div>