<!DOCTYPE html>
<html>
	<head>
	  	<title>TipgamesEvidence</title>
	  	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="javascripts/bootstrap.min.js"></script>
	    <!-- Main body -->
	    <nav class="navbar navbar-default">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			      	<a class="navbar-brand" href="#">
			        	<img alt="Tipgames" src="<%= image_url('logo_small.png') %>">
			      	</a>
			    </div>
			    
			    <div class="nav navbar-nav navbar-right">
			    	<% if logged_in? %>
			    		<%= link_to "Můj profil", {:action => 'show', :id => current_user.id}, :class => "btn btn-success navbar-btn" %>
						<%= link_to "Odhlásit", logout_path, method: :delete, :class => "btn btn-default navbar-btn" %>
					<% else %>
						<%= link_to "Přihlášení", login_path, :class => "btn btn-success navbar-btn" %>
				      	<%= link_to "Registrace", users_new_path, :class => "btn btn-default navbar-btn" %>
				      	<%= link_to "Registrace", users_new_path, :class => "btn btn-default navbar-btn", :style => "visibility: hidden" %>
					<% end %>
			      	
			     </div>
			 </div>
		</nav>
		<div class="container">
			
		 	<%= flash_messages %>
			<%= yield %>
		</div>
	</body>
</html>
